data/ filter=lfs diff=lfs merge=lfs -text
data/* filter=lfs diff=lfs merge=lfs -text
src/NewApproach/preprocessed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/NewApproach/preprocessed_BTCGBP_wma.csv filter=lfs diff=lfs merge=lfs -text
src/NewApproach/preprocessed_BTCGBP_wma_twenty.csv filter=lfs diff=lfs merge=lfs -text
data/*.* filter=lfs diff=lfs merge=lfs -text
src/ANN/ann_results_optimal.csv filter=lfs diff=lfs merge=lfs -text
src/ANN/ann_results.csv filter=lfs diff=lfs merge=lfs -text
src/ANN/BTCGBP.csv.csv filter=lfs diff=lfs merge=lfs -text
src/ANN/BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ANN/grid_results_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ANN/preprocessed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/interval_diff_processed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/interval_processed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/processed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ImpulsePredictor-Unused/preprocessed_BTCGBP_wma_twenty.csv filter=lfs diff=lfs merge=lfs -text
src/ImpulsePredictor-Unused/preprocessed_BTCGBP_wma.csv filter=lfs diff=lfs merge=lfs -text
src/ImpulsePredictor-Unused/preprocessed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/LSTM/BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/LSTM/grid_results_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/LSTM/lstm_results_optimal.csv filter=lfs diff=lfs merge=lfs -text
src/LSTM/preprocessed_BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/OldExperimentalArchitectures/checkpoint_preprocessed_BTCGBP_1000_4.csv filter=lfs diff=lfs merge=lfs -text
src/OldExperimentalArchitectures/preprocessed_BTCGBP_1000_4.csv filter=lfs diff=lfs merge=lfs -text
src/OldExperimentalArchitectures/preprocessed_formatted_BTCGBP_1000_4.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/ filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_900.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_100.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1000_rounded.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1300.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1700.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_400.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_200.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_2100.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_2400.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1100.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1200.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1500.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1800.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1900.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_700.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_800.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1000.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1600.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_2200.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_300.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_500.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_1400.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_2000.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_2300.csv filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/Results/classical_interval_600.csv filter=lfs diff=lfs merge=lfs -text
data/Hourly filter=lfs diff=lfs merge=lfs -text
data/Tick filter=lfs diff=lfs merge=lfs -text
data/Tick/BTCGBP.csv.gz filter=lfs diff=lfs merge=lfs -text
data/Tick/COTIBTC.csv.gz filter=lfs diff=lfs merge=lfs -text
data/Tick/ORNBTC.csv.gz filter=lfs diff=lfs merge=lfs -text
data/Tick/1INCHBTC.csv.gz filter=lfs diff=lfs merge=lfs -text
data/Tick/ACEBTC.csv.gz filter=lfs diff=lfs merge=lfs -text
data/Tick/BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
data/Hourly/Bitfinex filter=lfs diff=lfs merge=lfs -text
data/Hourly/Cex filter=lfs diff=lfs merge=lfs -text
data/Hourly/Gemini filter=lfs diff=lfs merge=lfs -text
src/ClassicalApproach/BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/ImpulsePredictor-Unused/BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
src/OldExperimentalArchitectures/BTCGBP.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
**/*.csv filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.csv.gz filter=lfs diff=lfs merge=lfs -text
